.routes__container {
  position: relative;
  flex: 1;
}

.routes__control {
  z-index: 1;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: #ffffff;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
